body {
	background-image: url(https://images.unsplash.com/photo-1554963984-67eb1b95f33f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
	background-size: cover;
	background-position: 0 30%;
}

#content {
	text-align: center;
	padding-top: 25%;
	color: #164744;
}
